**/.dockerignore
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.vscode
**/docker-compose*
**/Dockerfile*
**/node_modules
dist
README.md
# Required for testing.
# Remove rules below if testing within Docker.
.prettierrc
jest.config.js
**/__mocks__
**/__tests__
**/*.test.ts
**/*.spec.ts
